<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:replace="~{ nav :: head-config }"></th:block>
    <title>상품 목록</title>

    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ nav :: navbar }"></div>

<div class="container" style="padding : 20px;">

<form th:action="@{/search}" method="GET" style="margin-bottom: 20px;">
    <input name="searchText" style="display:inline" th:value="${searchText}">
    <button type="submit">검색</button>
</form>

<div class="card" th:each="item : ${paging}">
    <img src="https://placehold.co/300">
    <div>
        <h4 class="line">
            <a th:href="@{|/detail/${item.id}|}" th:text="${item.title}">상품 이름</a>
        </h4>
        <p th:text="${item.price} + '원'">가격</p>
        <p th:text="${item.displayName}">작성자</p>

            <button th:onclick="|location.href='@{/update/{id}(id=${item.id})}'|">수정</button>
            <button th:onclick="|deleteItem(${item.id})|">삭제</button>
    </div>
</div>

<div th:if="${paging.isEmpty()}">
    <p>검색 결과가 없습니다.</p>
</div>

<!-- 페이지 나누는 버튼 및 나눈 방법 -->
<div class="pagination" th:if="${!paging.isEmpty()}"
     th:with="start=${(paging.number / 5) * 5 + 1},
              last=(${start + 4 < paging.totalPages ? start + 4 : paging.totalPages})">

    <span th:each="pg : ${#numbers.sequence(start, last)}">
        <a th:href="@{/search(searchText=${searchText}, page=${pg - 1})}"
           th:text="${pg}"
           th:class="${paging.number == (pg - 1)} ? 'active' : ''">
           1
        </a>
    </span>
</div>
</div>
<script>
    function deleteItem(id) {
        // 사용자에게 한 번 물어보기
        if (!confirm("정말 삭제하시겠습니까?")) return;

        const token = localStorage.getItem('accessToken');

        if(!token){
            alert('로그인이 필요합니다');
            location.href='/login';
            return;
        }

        //  fetch 요청 보내기
        fetch('/item/' + id, {
            method: 'DELETE', // Controller의 @DeleteMapping과 매칭
            headers: {
                    // CSRF 대신 Authorization 헤더 사용
                    'Authorization': 'Bearer ' + token,
                    'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.status === 200) {
                // 성공 시 동작
                alert("삭제되었습니다!");
                location.reload(); // 새로고침해서 목록 갱신
            } else if(response.status === 403 || response.status === 401){
                alert("권한이 없습니다.");
            } else {
                return response.text().then(text => { throw new Error(text) });
            }
        })
        .catch(error => {
        console.error('Error:', error);
        alert("삭제 실패" + error.message);
        });
    }
</script>
</body>
</html>
