<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>
    <h3>회원가입 페이지</h3>
    <form th:action="@{/setRegister}" method="POST">
        <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></div>
            <input type="text" name="username" placeholder="아이디 입력">
            <input type="text" name="password" placeholder="비밀번호 입력">
            <input type="text" name="displayName" placeholder="닉네임 입력">
            <button type="submit">가입 신청</button>
    </form>

</body>
</html>