<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>
    <form action="/add" method="POST">
<!-- 서버에서 발급한 랜덤문자를 가져오는 코드. 기능 수행할 때 랜덤문자 없으면 차단당함  -->
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}">
        <input name="title" placeholder="상품명">
        <input name="price" placeholder="가격">

        <input type="file" onchange="getURL(this)">
        <input type="hidden" name="imgUrl" id="hidden_url">
        <button type="submit">전송</button>
    </form>
<img src="https://placehold.co/300" id="preview_img" style="max-width: 200px;">

<script>
    async function getURL(inputElement){

    // 파일 없으면 함수 종료하는 코드
    if(!input.files || input.files.length === 0) return;

    let file = inputElement.files[0];
    let name = encodeURIComponent(file.name);


        try{
                <!--      1. 서버에 presignedURL 요청 -->
            let response = await fetch('/presigned-url?filename=' + name)
            if(!response.ok) throw new Error("Presigned URL 발급 실패");

            let presignedUrl = await response.text(); // url 텍스트 추출

            // 2.AWS S3로 이미지 업로드
            let uploadResult = await fetch(presignedUrl, {
            method: 'PUT',
            body: file
        });

            if(uploadResult.ok){

            // query String을 제거한 순수 이미지 url 추출
                let cleanUrl = uploadResult.url.split("?")[0];

                console.log("업로드 성공:", cleanUrl);

                // 이미지 선택한거 미리보기
                document.querySelector('#preview_img').src = cleanUrl;


                // form 안의 hidden input에 값을 넣어준 뒤 서버로 전송
                document.querySelector('#hidden_url').value = cleanUrl;
            } else {
                console.error("S3 업로드 실패");
        } catch (error){
            console.error("에러 발생:", error);
        }
</script>

</body>
</html>